<!doctype html>
<html lang="us">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Barber´s Cad - Sistema de cadastro de cliente para barbearias</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-black">
            <div class="container-fluid">
                <a class="navbar-brand pr-6 pl-10" href="/"><img src="/static/img/logo_baberscad-w.webp" style="height: 70px;"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        {% if (session['logado'] == False) %}
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white active" aria-current="page" href="/admin">Admin</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link text-white active" aria-current="page" href="/admin">Admin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white active" aria-current="page" href="#" id="menu_clientes">Clientes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white active" aria-current="page" href="#" id="menu_usuarios">Usuários</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white active" aria-current="page" href="#" id="menu_sair">Sair</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container-fluid">
            <div class="row justify-content-center pt-5">
                {% if session['logado'] == False %}
                <div class="col-4">
                    <form id="formulario-login">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Usuário</span>
                            <input type="text" class="form-control" placeholder="Usuário" aria-label="Usuário"
                                aria-describedby="usuario" id="usuario">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Senha</span>
                            <input type="password" class="form-control" placeholder="Senha" aria-label="Senha"
                                aria-describedby="senha" id="senha">
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary" type="submit">Acessar Sistema</button>
                        </div>
                    </form>
                </div>
                {% else %}
                <div class="col">
                    <div id="pagina-inicial">
                        <div class="container">
                            <div class="row">
                                <div class="col mb-5">
                                    <div class="card">
                                        <div class="card-body">
                                            Bem vindo ao nosso sistema, {{ session['usuario'] }}.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="card">
                                        <div class="card-body bg-black text-white" id="total-usuarios">
                                            Total Usuários: 0.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="card">
                                        <div class="card-body bg-primary text-white" id="total-clientes">
                                            Total Clientes: 0.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="pagina-clientes" class="d-none">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Perfil</th>
                                    <th scope="col">Telefone</th>
                                    <th scope="col">WhatsApp</th>
                                    <th scope="col">Período</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div id="pagina-usuarios" class="d-none">
                        <form>
                            <div class="container-fluid">
                                <div class="row justify-content-center">
                                    <div class="col-4">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">Usuário</span>
                                            <input type="text" class="form-control" placeholder="Usuário"
                                                aria-label="Usuário" aria-describedby="usuario" id="novo-usuario">
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">Senha</span>
                                            <input type="password" class="form-control" placeholder="Senha"
                                                aria-label="Senha" aria-describedby="senha" id="novo-senha">
                                        </div>
                                    </div>
                                    <div class="col-4 align-items-center d-flex">
                                        <button id="adicionar-usuario" class="btn btn-primary adicionar-usuario"
                                            type="button">Adicionar novo
                                            Usuário</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Usuário</th>
                                    <th scope="col">Senha</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script type='text/javascript' src='https://code.jquery.com/jquery-1.11.0.js' crossorigin="anonymous"></script>
    <script type='text/javascript'
        src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"
        crossorigin="anonymous"></script>
    <script type='text/javascript'>
        $(document).ready(function ($) {

            function getPerfil(id) {
                switch (id) {
                    case 1: return 'Cabelo'; break
                    case 2: return 'Barba'; break
                    case 3: return 'Infantil'; break
                }
            }

            function getPeriodo(id) {
                switch (id) {
                    case 1: return '7 dias'; break
                    case 2: return '14 dias'; break
                    case 3: return '21 dias'; break
                    case 4: return '28 dias'; break
                    case 5: return '35 dias'; break
                }
            }

            $.ajax({
                    url: "/api/estatisticas",
                    context: document.body
                }).done(function (data) {
                    $('#total-usuarios').text(`Total de Usuários: ${data[0]}`)
                    $('#total-clientes').text(`Total de Clientes: ${data[1]}`)
                })

            // Envio do Formulario de Login
            $('#formulario-login').submit(function (event) {
                event.preventDefault();
                var formData = {
                    usuario: $("#usuario").val(),
                    senha: $("#senha").val(),
                }
                $.ajax({
                    type: "POST",
                    url: "/api/login",
                    data: formData,
                    context: document.body
                }).done(function (data, textStatus, xhr) {
                    if (xhr.status == 200) {
                        window.location.reload()
                    }
                })
            })

            $("#menu_clientes").click(function (event) {
                event.preventDefault()
                $.ajax({
                    url: "/api/clientes",
                    context: document.body
                }).done(function (data) {
                    $("#pagina-clientes tbody").html("")
                    data.forEach(function (v, k) {
                        id = v[0]
                        nome = v[1]
                        perfil = v[2]
                        telefone = v[3]
                        whatsapp = v[4]
                        periodo = v[5]
                        $('#pagina-clientes tbody').append(`
                    <tr>
                        <th scope="row">${id}</th>
                        <td>${nome}</td>
                        <td>${getPerfil(perfil)}</td>
                        <td>${telefone}</td>
                        <td>${whatsapp}</td>
                        <td>${getPeriodo(periodo)}</td>
                        <td><button class="btn btn-danger excluir-cliente" type="button" data-id="${id}">Excluir</button>
                    </tr>`)
                    })
                })
                $("#pagina-inicial").addClass('d-none')
                $("#pagina-usuarios").addClass('d-none')
                $("#pagina-clientes").removeClass('d-none')
            })

            $("#menu_usuarios").click(function (event) {
                event.preventDefault()
                $.ajax({
                    url: "/api/usuarios",
                    context: document.body
                }).done(function (data) {
                    $("#pagina-usuarios tbody").html("")
                    data.forEach(function (v, k) {
                        id = v[0]
                        login = v[1]
                        senha = v[2]
                        $('#pagina-usuarios tbody').append(`
                    <tr>
                        <th scope="row">${id}</th>
                        <td>${login}</td>
                        <td>${'*'.repeat(senha.length)}</td>>
                        <td><button class="btn btn-danger excluir-usuario" type="button" data-id="${id}">Excluir</button></td>
                    </tr>`)
                    })
                })
                $("#pagina-inicial").addClass('d-none')
                $("#pagina-clientes").addClass('d-none')
                $("#pagina-usuarios").removeClass('d-none')
            })

            $("#menu_sair").click(function (event) {
                event.preventDefault()
                $.ajax({
                    type: "POST",
                    url: "/api/logout",
                    context: document.body
                }).done(function (data, textStatus, xhr) {
                    if (xhr.status == 200) {
                        window.location.reload()
                    }
                })
            })

            $("#adicionar-usuario").click(function (event) {
                event.preventDefault()
                var formData = {
                    usuario: $("#novo-usuario").val(),
                    senha: $("#novo-senha").val(),
                }
                $.ajax({
                    type: "POST",
                    url: "/api/usuarios",
                    data: formData,
                    context: document.body
                }).done(function (data, textStatus, xhr) {
                    if (xhr.status == 200) {
                        $('#menu_usuarios').click()
                    }
                })
            })

            $(document).on('click', '.excluir-usuario', function (event) {
                event.preventDefault()
                var formData = {
                    id: $(this).attr('data-id'),
                }
                $.ajax({
                    type: "DELETE",
                    url: "/api/usuarios",
                    data: formData,
                    context: document.body
                }).done(function (data, textStatus, xhr) {
                    if (xhr.status == 200) {
                        $('#menu_usuarios').click()
                    }
                })
            });

            $(document).on('click', '.excluir-cliente', function (event) {
                event.preventDefault()
                var formData = {
                    id: $(this).attr('data-id'),
                }
                $.ajax({
                    type: "DELETE",
                    url: "/api/clientes",
                    data: formData,
                    context: document.body
                }).done(function (data, textStatus, xhr) {
                    if (xhr.status == 200) {
                        $('#menu_clientes').click()
                    }
                })
            });
        })
    </script>
</body>

</html>